{% load shop_tags %}

{% for product in products %}
  <a href="{{ product.get_absolute_url }}?type=reviews" class="card-item">
    <div class="item-img">
        <img src="{{ product.img1.url }}" alt="{{ product.title }}" />
    </div>
    <div class="item-overview">
      <div class="overview-header">{{ product.title }}</div>
      <p id="rating">{{ product.product_reviews.count }} review{{ product.product_reviews.count|pluralize }}</p>
      <div class="overview-stars">
        {% if product.stars %}
        <div class="overview-stars__inner">
          <div class="Stars" style="--rating: {{ product.stars }};font-size: 24px;"></div>
        </div>
        <span id="rating">{{ product.stars|make_int }}/<span id="disabled">5</span></span>
        {% endif %}
      </div>
      <div class="overview-price">
        {% if not product.is_available %}
          <span id="non-available">Soon...</span>
        {% else %}
          {% if product.get_discounted_price != product.price %}
          <span id="current">${{ product.get_discounted_price|make_int }}</span>
          <span id="old-price">${{ product.price|make_int }}</span>
          <span id="price-discount">-{{ product.discount }}%</span>
          {% else %}
          <span id="current">${{ product.price|make_int }}</span>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </a>
{% empty %}
  <h1 id="empty">
    Coming soon...
  </h1>
{% endfor %}
