main.main_content {
  background-color: var(--gray-color);
  overflow: hidden;
  position: relative;
  z-index: -2;
}

.main_content__inner {
  position: relative;
  background-image: url("/media/img/main-img.jpeg");
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: right;
  background-position-y: -30px;
  max-width: 1380px;
  margin: 0 auto;
  padding: 103px 15px 116px;
  animation-duration: 3s;
  animation-name: animateContent;
  animation-fill-mode: forwards;
}

.main_content__inner .star {
  position: absolute;
  right: 620px;
  top: 50%;
}

.main_content__inner .star-2 {
  position: absolute;
  right: 10px;
  top: 10%;
}

.main_content_body {
  max-width: 700px;
  animation-duration: 1s;
  animation-name: animateContent;
  animation-fill-mode: forwards;
}

.main_content_body h1 {
  font-size: 64px;
  margin-bottom: 32px;
}

@media only screen and (max-width: 780px) {
  h1.company_name {
    font-size: 24px !important;
  }

  .navbar_search {
    display: none;
  }

  main.main_content {
    background-position-x: center !important;
    background-size: 300px !important;
  }
}

.main_content_body > p {
  margin-bottom: 32px;
  font-size: 16px;
  max-width: 570px;
}

.main_content_body section.statistics {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

section.statistics > div {
  margin-right: 32px;
}

.main_content_body section.statistics h2 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

@keyframes animateContent {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
  }
}

.brands {
  background-color: var(--header-color);
}

.brands__inner {
  max-width: 1380px;
  margin: 0 auto;
  padding: 50px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

section.new-arrivals,
section.top-selling {
  margin: 0 auto;
  max-width: 1380px;
  padding: 72px 15px 64px;
}

section.new-arrivals {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.section-header h1 {
  text-transform: uppercase;
  font-size: 56px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 55px;
  text-align: center;
}

.card {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

section.card {
  padding: 70px 15px 100px;
}

.item-img {
  width: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 430px;
  border-radius: 20px;
}

.item-img img {
  width: 100%;
}

.overview-header {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.overview-price {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  margin-top: 8px;
}

span#old-price {
  margin-left: 10px;
  color: var(--gray-darker);
  text-decoration: line-through;
}

span#price-discount {
  margin-left: 12px;
  font-size: 12px;
  color: #ff3333;
  border-radius: 62px;
  background: rgba(255, 51, 51, 0.1);
  padding: 6px 14px;
}

p#rating {
  font-size: 14px;
}

.overview-stars {
  display: flex;
  align-items: center;
  gap: 10px;
}

a#view-all {
  display: block;
  font-size: 16px;
  padding: 16px 54px;
  border-radius: 62px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in;
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 40px;
}

a#view-all:hover {
  background-color: var(--gray-color);
}

section.style-section {
  border-radius: 40px;
  background-color: var(--gray-color);
  padding: 70px 64px 76px;
  max-width: 1380px;
  margin: 0 auto;
  margin-bottom: 80px;
}

section.style-section .section-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-basis: 100;
  flex-basis: 100;
  flex-grow: 1;
}

.style-section .card-item {
  padding: 36px;
  border-radius: 40px;
  height: 300px;
  overflow: hidden;
  flex-basis: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 700px;
  background-color: var(--white-color);
  transition: all 0.5s ease-in;
  opacity: 0.5;
}

.style-section .card-item > h3 {
  font-size: 40px;
  font-weight: normal;
}

section.style-section .card-item:nth-child(2),
section.style-section .card-item:nth-child(3) {
  background-position: 30px -200px;
  background-size: 1000px;
  flex-basis: 700px;
}

section.style-section .card-item:first-child {
  background-position: 130px;
}

section.style-section .card-item:nth-child(4) {
  background-size: 400px;
  background-position: 100px;
}

section.style-section .card-item:hover {
  opacity: 1;
}

section.customer-reviews {
  max-width: 1380px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 15px;
}

.customer-reviews .reviews-header h1 {
  font-size: 48px;
}

.customer-reviews .reviews-header {
  margin-bottom: 40px;
}

.swiper {
  max-width: 1350px;
  height: 500px;
}

.swiper-wrapper {
  gap: 30px !important;
  align-items: center !important;
}

.swiper-slide {
  height: 300px !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 10px !important;
  max-width: 400px;
  border-radius: 20px;
  padding: 28px 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.swiper-button-next::after {
  content: "";
  position: absolute !important;
  top: -210px !important;
  color: var(--header-color) !important;
}

.swiper-button-prev::after {
  content: "";
  position: absolute !important;
  top: -210px !important;
  color: var(--header-color) !important;
}

span#non-available {
  color: rgba(0, 0, 0, 0.4);
}

.top-alert {
  text-align: center;
  color: var(--white-color);
}

.top-alert .success {
  padding: 10px;
  background-color: rgb(52, 170, 52);
}

.top-alert .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  max-width: 1380px;
  padding: 0 10px;
  margin: 0 auto;
}

.top-alert .error {
  padding: 10px;
  background-color: rgb(214, 52, 52);
}

.top-alert svg {
  fill: var(--white-color);
  cursor: pointer;
}

h1#empty {
  font-size: 20px !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

section.about-company {
  max-width: 1380px;
  margin: 0 auto;
  padding: 20px 15px 100px;
  font-size: 20px;
}

section.about-company section.path {
  margin-bottom: 70px;
}

section.similars {
  padding: 100px 0 80px;
}

section.path {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

section.path a {
  color: rgba(0, 0, 0, 0.6);
  transition: color 0.3s ease;
}

section.path svg {
  fill: rgba(0, 0, 0, 0.6);
}

section.path a:hover {
  color: var(--header-color);
}

.summary-submit input[type="submit"] {
  padding: 10px 40px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--gray-dark);
  background-color: var(--white-color);
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.summary-submit input[type="submit"]:hover {
  background-color: rgb(39, 201, 39);
  color: var(--white-color);
}
