{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static './css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="block">
    <div class="section-header">
        <h1>RESET YOUR PASSWORD</h1>
    </div>
    <div class="block-body">
        <form method="POST">
            <p>Forgotten your Password?<br>
            Enter your email address to change it.</p>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send Me">
        </form>
    </div>
</div>
{% endblock %}